

<h1>Page de profil de <%= @user.first_name %> <%= @user.last_name %></h1>

<h4 class= "gossip-label">Identité</h4>
<div class= "gossip-author d-flex justify-content-around">
  <div>
    <%= @user.first_name %> <%= @user.last_name %><br>
  </div>
  <div>
  Age: <%= @user.age %> <br>
  </div>
</div>
<h4 class= "gossip-label">Contact</h4>
<div class= "gossip-title">
  Email: <%= @user.email %>
</div>
<h4 class= "gossip-label">Description</h4>
<div class= "gossip-content text-center">
  <%= @user.description %>
</div>
<% if @user.city %>
<h4 class= "gossip-label">Ville</h4>
<div class= "gossip-date text-center">
  <%= @user.city.name %> <br/>
  <%= link_to "Accéder à la page de la ville #{@user.city.name}", city_path(@user.city.id) %>
</div>
<% end %>
